<div class="ui grid" *ngIf="user">
    <div class="sixteen wide column">
        <div class="ten wide column">
            <h1 class="ui center aligned header">{{ user.firstname }} {{user.lastname}} <i class="book icon"></i></h1>
            <h3 class="ui center aligned header">{{ user.biography }}</h3>
            <br>
            <h4 class="ui center aligned header">Kontaktdaten:</h4>
            <p align="center"><a href="mailto:{{user.email}}">{{user.email}}</a><br><a href="tel:{{user.phone}}"
                    *ngIf="user.phone">{{user.phone}}</a></p>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui grid">
            <div class="two wide column"></div>
            <div class="two wide column"></div>
        </div>
    </div>
</div>
<br>
<div class="ui divider"></div>
<h3 class="ui center aligned header">Meine Nachhilfeangebote: </h3>
<gs-offer-list></gs-offer-list>