.item_div {
    margin-top: 2em;
}

.menu{
    margin-bottom: 2em !important;
}

.ui.cards {
    justify-content: space-around;
}

.homeContainer {
    margin-top: 5em;
}

.buttonContainer .button {
    margin-top: 2em !important;
    margin-bottom:  2em !important;
}

.root {
    width: 95% !important;
    margin: auto !important;
}
.noOffersText
{
    margin-top: 2em;
}
.ui.divider
{
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
.ui.cards{
    margin-bottom: 2em !important;
}

.contactCard
{
    margin-left: 40% !important;
}

@media screen and (min-width: 730px) {
    .root {
        width: 80% !important;
        margin: auto !important;
    }
}