<div class="ui grid" *ngIf="offer">
    <div class="sixteen wide column">
        <div class="twelve wide column">
            <h1 class="ui center aligned header">{{ offer.title }} <i class="book icon"></i></h1>
            <h3 class="ui center aligned header">Status: {{ offer.state }}</h3>
            <h3 class="ui center aligned header">{{ offer.description }}</h3>
            <div class="ui divider"></div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui grid">
            <div class="two wide column"></div>
            <div class="four wide column">
                <h4 class="ui header">Termin</h4>
                <p>Am {{ offer.date }}</p>
                <p>Von {{offer.start_time}} bis {{ offer.end_time }} </p>
            </div>
            <div class="four wide column">
                <h4 class="ui header">Tutor Informationen</h4>
                <p>Name: {{ offer.user.firstname }} {{ offer.user.lastname }}</p>
                <p *ngIf="offer.user.biography">Biografie: <br>{{offer.user.biography}}</p>
                <p>Kontaktdaten: <br><a href="mailto:{{offer.user.email}}">{{offer.user.email}}</a><br><a
                        href="tel:{{offer.user.phone}}" *ngIf="offer.user.phone">{{offer.user.phone}}</a></p>
            </div>
            <div class="four wide column">
                <h4 class="ui header">Fachgebiet</h4>
                <p>Fachgebiet: {{ offer.subject.title }}</p>
            </div>
            <div class="two wide column"></div>
        </div>
    </div>
</div>
<br>
<div class="ui divider"></div>
<div class="ui grid">
    <div class="sixteen wide column center aligned">
        <div class=" twelve wide column center aligned buttonContainer">
            <button *ngIf="authService.isLoggedIn()&&authService.isTutor()" class="ui tiny red labeled icon
            button" (click)="removeOffer()">
                <i class="remove icon"></i> Nachhilfeangebot löschen
            </button>
            <a *ngIf="authService.isLoggedIn()&&authService.isTutor()" class="ui tiny yellow labeled icon
            button" [routerLink]="['../../admin', offer?.id]">
                <i class="write icon"></i> Nachhilfeangebot bearbeiten
            </a>
            <button *ngIf="authService.isLoggedIn()&&!authService.isTutor()" class="ui tiny blue labeled icon
            button" (click)="sendRequest()">
                <i class="paper plane icon"></i> Anfrage senden
            </button>
        </div>
    </div>
</div>